<div class="card mb-3">
  <img src="..." class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Let's Make Friends!</h5>
    <p class="card-text">This is my first Rails app designed to incorporate MVC principles and CRUD methodology.</p>
    <p class="card-text">Head over to the Sign Up section in the navigation bar to start. Enjoy making friends!</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>